*.la
*.lo
*.o
*~
.deps
.dirstamp
.libs
/Makefile
autom4te.cache/
config.log
config.status
examples/opusfile_example
examples/seeking_example
libopusfile-*.tar.*
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
*.sw[lmnop]
