*.a
*.exe
*.la
*.lo
*.o
*.sw*
*~
.deps
.dirstamp
.libs
/Makefile
autom4te.cache/
config.log
config.status
doc/Doxyfile
examples/opusfile_example
examples/seeking_example
libopusfile-*.tar.*
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
opusfile.pc
opusfile-uninstalled.pc
opusurl.pc
opusurl-uninstalled.pc
unix/objs
unix/opusfile_example
unix/seeking_example
