Source: opusfile
Section: sound
Priority: optional
Maintainer: Ron Lee <ron@debian.org>
Build-Depends: libopus-dev (>= 1.0.1), libogg-dev (>= 1.3.0), libssl-dev,
               pkg-config, debhelper (>= 5)
Build-Depends-Indep: doxygen
Standards-Version: 3.9.5.0
Homepage: http://www.opus-codec.org
Vcs-Git: git://git.debian.org/users/ron/opusfile.git
Vcs-Browser: http://git.debian.org/?p=users/ron/opusfile.git;a=summary

Package: libopusfile0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: High-level API for basic manipulation of Ogg Opus audio streams
 libopusfile provides several sets of built-in routines for file and stream
 access, and may also use custom stream I/O routines provided by the embedded
 environment.  There are built-in I/O routines provided for ANSI-compliant
 stdio (FILE *), memory buffers, and URLs (including <file:> URLs, plus
 optionally <http:> and <https:> URLs).
 .
 It is implemented as a layer on top of Xiph.Org's reference libogg and
 libopus libraries.
 .
 This package provides the opusfile runtime library.

Package: libopusfile-dev
Section: libdevel
Architecture: any
Depends: libopusfile0 (= ${binary:Version}), libopus-dev (>= 1.0.1), libogg-dev (>= 1.3.0)
Recommends: libssl-dev
Description: High-level API for basic manipulation of Ogg Opus audio streams
 libopusfile provides several sets of built-in routines for file and stream
 access, and may also use custom stream I/O routines provided by the embedded
 environment.  There are built-in I/O routines provided for ANSI-compliant
 stdio (FILE *), memory buffers, and URLs (including <file:> URLs, plus
 optionally <http:> and <https:> URLs).
 .
 It is implemented as a layer on top of Xiph.Org's reference libogg and
 libopus libraries.
 .
 This package provides the Opus library headers and development files.

Package: libopusfile-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libopusfile0 (= ${binary:Version})
Description: debugging symbols for libopusfile
 This package provides the detached debug symbols for libopusfile.

Package: libopusfile-doc
Section: doc
Architecture: all
Description: libopusfile API documentation
 This package contains the developer documentation for libopusfile.

